
.idea/workspace.xml
SnakeGame/.vs/SnakeGame/v17/ipch/AutoPCH/5126ecf4537646b1/SNAKELOGIC.ipch
SnakeGame/.vs/SnakeGame/v17/Browse.VC.opendb
SnakeGame/.vs/SnakeGame/v17/Browse.VC.db-wal
SnakeGame/.vs/SnakeGame/v17/Browse.VC.db-shm
SnakeGame/.vs/SnakeGame/v17/Browse.VC.db
SnakeGame/.vs/SnakeGame/FileContentIndex/ed8137f7-1064-4409-a7a6-8f282618fb32.vsidx
SnakeGame/.vs/SnakeGame/FileContentIndex/662c35f5-5bde-4ef6-9d41-4e42edd2ee79.vsidx
SnakeGame/.vs/SnakeGame/v17/ipch/AutoPCH/5126ecf4537646b1/SNAKELOGIC.ipch
SnakeGame/.vs/SnakeGame/v17/Browse.VC.db
SnakeGame/.vs/SnakeGame/FileContentIndex/ed8137f7-1064-4409-a7a6-8f282618fb32.vsidx
*.ipch
SnakeGame/.vs/SnakeGame/FileContentIndex/9d16ba47-e259-4500-8da6-2675eb398cb4.vsidx
SnakeGame/.vs/SnakeGame/FileContentIndex/ed8137f7-1064-4409-a7a6-8f282618fb32.vsidx
SnakeGame/.vs/SnakeGame/FileContentIndex/ed8137f7-1064-4409-a7a6-8f282618fb32.vsidx
/SnakeGame/.vs/SnakeGame/FileContentIndex
SnakeGame/.vs/SnakeGame/v17/.suo
SnakeGame/.vs/SnakeGame/v17/DocumentLayout.json
SnakeGame/SnakeLogic/x64/Release/SnakeLogic.iobj
SnakeGame/SnakeLogic/x64/Release/SnakeLogic.ipdb
SnakeGame/SnakeLogic/x64/Release/SnakeLogic.log
SnakeGame/SnakeLogic/x64/Release/SnakeLogic.obj
SnakeGame/SnakeLogic/x64/Release/vc143.pdb
SnakeGame/x64/Release/SnakeLogic.exe
SnakeGame/x64/Release/SnakeLogic.pdb
/SnakeGame/x64/Release
/SnakeGame/SnakeLogic/x64/Release
